$White: #ffffff;
$Black: #000000;

$Tundora: #414141;
$TundoraDark: #444444;
$Gray: #808080;
$SilverChalice: #aaaaaa;
$Mercury: #e9e9e9;
$Pizazz: #ff9000;
$Alto: #d4d4d4;
$Alabaster: #f9f9f9;
$DoveGray: #666666;
$DodgerBlue: #2192ef;
$Silver: #cccccc;