@import '../create-signature-simple/create-signature-simple';
@import '../create-signature-option/create-signature-option';


.create-signature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.create-signature__item {
    width: calc(100%/2 - 8px);      
    margin-bottom: 16px;

    &--full {
        width: 100%;
    }
}
