extends ../../../project


include ../../modals/modal-create-signature

block title
    title Create your signature

block stylesheet
    link(rel="stylesheet", href="css/create-your-signature.css")

block content
    
    +modalCreateSignature()